* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    min-height: 100vh;
}

.min-h-100 {
    min-height: 100vh;
}

.section-1 {
    background: white;
}

.heading {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: center;
    color: #808080;
}

.bg-grey {
    background-color: #B8B8B8;
}

.Sidebar-btn {
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    border: 1px solid #128DFF;
    color: white;
}

.Sidebar-btn:hover {
    background: white;
    color: #128DFF;
}

.sidebar {
    box-shadow: 9px 4px 26px 0px #0000000F;
    width: 30%;
    padding: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    /* display: none; */
    background: white;
    transition: all 300ms linear;
}

.show {
    left: 0;
}

.link-btn {
    padding: 13px 35px 13px 35px;
    border: 1px solid #128DFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    color: #128DFF;
    background: white;
    border-radius: 4px;
}

.link-btn:hover {
    background-color: #128DFF;
    color: white;
}

.cut-btn {
    cursor: pointer;
    transition: all 300ms linear;
}